<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <title>Expense List</title>
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Expense Tracker</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Expense Tracking App</h1>
        <p class="lead">
          Many people have trouble managing their money well, and this app
          solves that problem by making it easier to stay on top of finances.
        </p>
        <p class="lead">
          <a href="/logon" class="btn btn-lg btn-secondary">Log In</a>
          <a href="/sign-up" class="btn btn-lg btn-secondary">New User</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Expense Tracker App was created using
            <a href="https://expressjs.com/">Express.JS</a> and
            <a href="https://ejs.co/">EJS</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
